@charset "UTF-8";

:root {
  --primary-color: #055b50;
  --secondary-color: #052242;
}

a:focus,
button:focus {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}

blockquote {
  padding: 0;
  margin: 0;
}

input,
button,
textarea {
  outline: none;
}

label {
  margin-bottom: 0;
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul li,
ol li {
  display: block;
}

form {
  margin-bottom: 0;
}

blockquote {
  padding-left: 0;
  border-left: 0;
}

figure {
  margin-bottom: 0;
}

html p a:hover {
  text-decoration: none;
}

/*
* Page layout
*/
.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  opacity: 0;
}

.page.fadeIn {
  animation-timing-function: ease-out;
}

.page.fadeOut {
  animation-timing-function: ease-in;
}

[data-x-mode] .page {
  opacity: 1;
}

/*
* Offsets
*/
* + p {
  margin-top: 15px;
}

h2 + p {
  margin-top: 12px;
}

p + h2 {
  margin-top: 15px;
}

p + p {
  margin-top: 15px;
}

img + p {
  margin-top: 15px;
}

h3 + img {
  margin-top: 42px;
}

* + .row {
  margin-top: 30px;
}

* + .button {
  margin-top: 20px;
}

.row + h3 {
  margin-top: 80px;
}

.container + .container {
  margin-top: 30px;
}

.row + .row {
  margin-top: 30px;
}

@media (min-width: 768px) {
  p + p {
    margin-top: 20px;
  }
  h2 + p {
    margin-top: 20px;
  }
  * + .button {
    margin-top: 30px;
  }
  .container + .container {
    margin-top: 40px;
  }
}

@media (min-width: 992px) {
  h2 + p {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  h2 + p {
    margin-top: 40px;
  }
  p + p {
    margin-top: 30px;
  }
  * + .row-lg {
    margin-top: 50px;
  }
  * + .row-xl {
    margin-top: 60px;
  }
  * + .row-xxl {
    margin-top: 70px;
  }
  * + .button {
    margin-top: 40px;
  }
  .container + .container {
    margin-top: 60px;
  }
  .row + .row {
    margin-top: 60px;
  }
  .row + .button {
    margin-top: 50px;
  }
}

.row-30 {
  margin-bottom: -30px;
}

.row-30:empty {
  margin-bottom: 0;
}

.row-30 > * {
  margin-bottom: 30px;
}

/*
* Sections
*/

.section-sm,
.section-md,
.section-lg,
.section-xl,
.section-xxl {
  padding: 50px 0;
}

.section-inset-1 {
  padding: 120px 0 100px;
}

html [class*='section-'].section-bottom-0 {
  padding-bottom: 0;
}

@media (min-width: 768px) {
  .section-sm {
    padding: 60px 0;
  }
  .section-md {
    padding: 70px 0;
  }
  .section-lg {
    padding: 80px 0;
  }
  .section-xl {
    padding: 80px 0;
  }
  .section-xxl {
    padding: 90px 0;
  }
}

@media (min-width: 992px) {
  .section-sm {
    padding: 70px 0;
  }
  .section-md {
    padding: 80px 0;
  }
  .section-lg {
    padding: 90px 0;
  }
  .section-xl {
    padding: 90px 0;
  }
  .section-xxl {
    padding: 100px 0;
  }
  .section-inset-1 {
    padding: 150px 0;
  }
}

@media (min-width: 1200px) {
  .section-sm {
    padding: 80px 0;
  }
  .section-md {
    padding: 90px 0;
  }
  .section-lg {
    padding: 100px 0;
  }
  .section-xl {
    padding: 120px 0;
  }
  .section-xxl {
    padding: 150px 0;
  }
  .section-inset-2 {
    padding-top: 120px;
  }
}

@media (min-width: 1600px) {
  .section-xl {
    padding: 150px 0;
  }
  .section-xxl {
    padding: 200px 0;
  }
}

@media (min-width: 1200px) {
  .section-full {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
  }
  .section-full > .container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .section-full-1 {
    flex-direction: column;
    justify-content: space-between;
  }
}

/*
* Light Backgrounds
*/
.bg-default {
  background-color: #ffffff;
}

.bg-gray-100 {
  background-color: #f8f8f8;
}

/*
* Dark Backgrounds
*/
.bg-gray-3 {
  background-color: #231f20;
}

/*
* Background Image
*/
.bg-image {
  background-size: cover;
  background-position: center center;
}

[class*='bg-'] {
  background-size: cover;
  background-position: center center;
}

@media (min-width: 992px) {
  html:not(.tablet):not(.mobile) .bg-fixed {
    background-attachment: fixed;
  }
}

/*
* Background Position
*/
.background-position-1 {
  background-position: 30% 50%;
}

@media (min-width: 576px) {
  .background-position-1 {
    background-position: 40% 50%;
  }
}

.section-background-custom {
  position: relative;
  z-index: 1;
}

.background-custom-1 {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: calc(50% + 180px);
  z-index: -1;
}

@media (min-width: 768px) {
  .background-custom-1 {
    display: block;
  }
}

@media (min-width: 992px) {
  .background-custom-1 {
    left: calc(50% + 250px);
  }
}

@media (min-width: 1200px) {
  .background-custom-1 {
    left: calc(50% + 355px);
  }
}

/*
* Utilities custom
*/
.oh-desktop {
  position: relative;
  overflow: hidden;
}

p.rights {
  color: #888888;
}

p.rights a {
  color: inherit;
}

p.rights a:hover {
  color: var(--primary-color);
}

[style*='z-index: 1000;'] {
  z-index: 1101 !important;
}

@media (min-width: 1200px) {
  .inset-xl-left-25 {
    padding-left: 25px;
  }
}

.cube-classic {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
  height: 250px;
  z-index: -1;
  margin-bottom: -22px;
  margin-left: -22px;
}

.cube-classic:empty {
  margin-bottom: 0;
  margin-left: 0;
}

.cube-classic > * {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 22px;
  margin-left: 22px;
}

@media (min-width: 1200px) {
  .cube-classic {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .cube-classic-wrap {
    position: relative;
    z-index: 1;
  }
}

.cube-classic-1 {
  top: 27%;
  right: 12%;
}

.cube-classic-2 {
  top: 39%;
  left: -8%;
}

.cube-classic-item {
  display: block;
  width: 3px;
  height: 3px;
  background: #cccccc;
  transform: none;
  animation: cube-classic 10s infinite ease-in-out;
}

@-moz-document url-prefix() {
  .cube-classic-item {
    animation: none;
  }
}

@keyframes cube-classic {
  25% {
    opacity: 0.5;
    transform: scale(0.4) rotate(10deg);
  }
  50% {
    opacity: 1;
    transform: scale(0.7) rotate(10deg);
  }
  75% {
    opacity: 0.5;
    transform: scale(0.4) rotate(10deg);
  }
}

.cube-classic-item:nth-child(10n + 2) {
  transition-delay: 0.72s;
}

.cube-classic-item:nth-child(10n + 3) {
  transition-delay: 1.44s;
}

.cube-classic-item:nth-child(10n + 4) {
  transition-delay: 2.16s;
}

.cube-classic-item:nth-child(10n + 5) {
  transition-delay: 2.88s;
}

.cube-classic-item:nth-child(10n + 6) {
  transition-delay: 3.6s;
}

.cube-classic-item:nth-child(10n + 7) {
  transition-delay: 4.32s;
}

.cube-classic-item:nth-child(10n + 8) {
  transition-delay: 5.04s;
}

.cube-classic-item:nth-child(10n + 9) {
  transition-delay: 5.76s;
}

.cube-classic-item:nth-child(10n + 10) {
  transition-delay: 6.48s;
}

/*
* Typography
*/
body {
  text-align: center;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  line-height: 1.71429;
  font-weight: 300;
  color: #111111;
  background-color: #ffffff;
  letter-spacing: 0.05em;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: subpixel-antialiased;
}

@media (min-width: 768px) {
  body {
    text-align: left;
    font-size: 14px;
  }
}

@media (min-width: 992px) {
  body {
    line-height: 2.14286;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-family: 'Questrial', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 0;
  color: #151515;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: var(--primary-color);
}

h1 {
  font-size: 30px;
  line-height: 1.1;
}

@media (min-width: 576px) {
  h1 {
    font-size: 40px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 80px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 100px;
  }
}

h2 {
  font-size: 26px;
  line-height: 1.25;
}

@media (min-width: 768px) {
  h2 {
    font-size: 30px;
  }
}

@media (min-width: 992px) {
  h2 {
    font-size: 38px;
  }
}

@media (min-width: 1200px) {
  h2 {
    font-size: 48px;
  }
}

h3 {
  font-size: 24px;
  line-height: 1.27778;
}

@media (min-width: 768px) {
  h3 {
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  h3 {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  h3 {
    font-size: 36px;
  }
}

h4 {
  font-size: 18px;
  line-height: 1.25;
}

@media (min-width: 768px) {
  h4 {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  h4 {
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 24px;
  }
}

h5 {
  font-size: 16px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  h5 {
    font-size: 18px;
  }
}

h6 {
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 1200px) {
  h6 {
    font-size: 16px;
  }
}

p [data-toggle='tooltip'] {
  padding-left: 0.25em;
  padding-right: 0.25em;
  color: var(--primary-color);
}

p [style*='max-width'] {
  display: inline-block;
}

::selection {
  background: var(--primary-color);
  color: #ffffff;
}

::-moz-selection {
  background: var(--primary-color);
  color: #ffffff;
}

.subtitle-classic {
  font-size: 10px;
  line-height: 2;
  font-weight: 400;
  font-family: 'Questrial', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

.subtitle-classic + h2 {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .subtitle-classic + h2 {
    margin-top: 14px;
  }
}

@media (min-width: 992px) {
  .subtitle-classic + h2 {
    margin-top: 20px;
  }
}

.title-style-1-wrap,
.title-style-2-wrap {
  font-size: 0;
  line-height: 0;
}

.title-style-1-wrap *,
.title-style-2-wrap * {
  display: inline-block;
}

.title-style-1 {
  letter-spacing: 0.075em;
  padding: 8px 20px 0;
  background: var(--primary-color);
  color: #ffffff;
  font-size: 5.5rem;
}

.title-style-2 {
  text-transform: uppercase;
  letter-spacing: 0.075em;
  padding: 0 3px 0 10px;
  background: #ffffff;
  font-size: 1.45rem;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}

.subheadline {
  color: #ffffff;
  font-size: 1.75rem;
  padding: 5px;
}

@media (min-width: 768px) {
  .title-style-2 {
    letter-spacing: 0.6em;
  }
}

@media (max-width: 480px) {
  .title-style-1 {
    padding: 8px 20px;
    font-size: 2.5rem;
  }
  .title-style-2 {
    font-size: 1rem;
  }
  .subheadline {
    font-size: 1.5rem;
  }
}

* + .title-style-2-wrap {
  margin-top: 20px;
}

.title-style-2-wrap + .button {
  margin-top: 30px;
}

@media (min-width: 768px) {
  * + .title-style-2-wrap {
    margin-top: 32px;
  }
  .title-style-2-wrap + .button {
    margin-top: 50px;
  }
}

/*
* Brand
*/
.brand {
  display: inline-block;
}

.brand .brand-logo-desktop {
  display: none;
}

@media (min-width: 992px) {
  .brand .brand-logo-desktop {
    display: block;
  }
  .brand .brand-logo-mobile {
    display: none;
  }
}

/*
* Links
*/
a {
  transition: all 0.3s ease-in-out;
}

a,
a:focus,
a:active,
a:hover {
  text-decoration: none;
}

a,
a:focus,
a:active {
  color: #151515;
}

a:hover {
  color: var(--primary-color);
}

a[href*='tel'],
a[href*='mailto'] {
  white-space: nowrap;
}

/*
* Boxes
*/
.box-md {
  max-width: 370px;
  margin-left: auto;
  margin-right: auto;
}

.team-classic {
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
}

.team-classic img {
  width: 100%;
}

.team-classic-caption {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding: 15px 10px;
  right: 0;
  bottom: 20px;
  left: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  background: #055b5075;
}

.team-classic-caption > * {
  pointer-events: auto;
}

.team-classic-name {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.3s ease;
  will-change: transform;
}

.team-classic-name a:hover {
  color: rgba(17, 17, 17, 0.5);
}

.team-classic-status {
  letter-spacing: 0.2em;
  transition: all 0.3s ease;
}

.team-classic-list-social .icon {
  font-size: 16px;
  line-height: 1;
}

.team-classic-list-social a,
.team-classic-list-social a:focus,
.team-classic-list-social a:active {
  color: #111111;
}

.team-classic-list-social a:hover {
  color: rgba(17, 17, 17, 0.5);
}

* + .team-classic-list-social {
  margin-top: 6px;
}

@media (min-width: 992px) {
  .team-classic-caption {
    padding: 15px;
  }
  .team-classic-name {
    letter-spacing: 0.2em;
  }
}

@media (min-width: 992px) {
  .desktop .team-classic-caption {
    padding-top: 40px;
    top: 0;
    bottom: 0;
    background: transparent;
  }
  .desktop .team-classic-name {
    opacity: 0;
    transform: scale(1.2);
  }
  .desktop .team-classic-status {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  .desktop .team-classic-list-social .icon {
    font-size: 18px;
  }
  .desktop .team-classic-list-social li {
    opacity: 0;
    transform: scale(0);
    transition: all 0.3s ease;
  }
  .desktop .team-classic:hover {
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.15);
  }
  .desktop .team-classic:hover .team-classic-caption {
    background: rgba(253, 226, 49, 0.85);
  }
  .desktop .team-classic:hover .team-classic-list-social li,
  .desktop .team-classic:hover .team-classic-status,
  .desktop .team-classic:hover .team-classic-name {
    opacity: 1;
    transform: none;
  }
  .desktop .team-classic:hover .team-classic-list-social li:nth-child(1) {
    transition-delay: 50ms;
  }
  .desktop .team-classic:hover .team-classic-list-social li:nth-child(2) {
    transition-delay: 100ms;
  }
  .desktop .team-classic:hover .team-classic-list-social li:nth-child(3) {
    transition-delay: 150ms;
  }
  .desktop .team-classic:hover .team-classic-list-social li:nth-child(4) {
    transition-delay: 200ms;
  }
  .desktop .team-classic:hover .team-classic-list-social li:nth-child(5) {
    transition-delay: 250ms;
  }
  .desktop .team-classic:hover .team-classic-list-social li:nth-child(6) {
    transition-delay: 300ms;
  }
  .desktop .team-classic:hover .team-classic-list-social li:nth-child(7) {
    transition-delay: 350ms;
  }
  .desktop .team-classic:hover .team-classic-list-social li:nth-child(8) {
    transition-delay: 400ms;
  }
  .desktop .team-classic:hover .team-classic-list-social li:nth-child(9) {
    transition-delay: 450ms;
  }
  .desktop .team-classic:hover .team-classic-list-social li:nth-child(10) {
    transition-delay: 500ms;
  }
  .desktop * + .team-classic-status {
    margin-top: 8px;
  }
  .desktop * + .team-classic-list-social {
    margin-top: 35px;
  }
}

.project-classic {
  position: relative;
  text-align: center;
  transition: all 0.3s ease;
}

.project-classic img {
  width: 100%;
  height: 262px;
  object-fit: cover;
}

.project-classic-caption {
  padding: 5px;
  background: var(--primary-color);
  transition: all 0.3s ease;
  pointer-events: none;
}

.project-classic-caption > * {
  pointer-events: auto;
}

.why-title {
  letter-spacing: 0.1em;
  transition: all 0.3s ease;
  will-change: transform;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.project-classic-tag {
  letter-spacing: 0.2em;
  transition: all 0.3s ease;
}

@media (min-width: 992px) {
  .desktop .project-classic-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 95px 15px 15px;
    background: transparent;
  }
  .desktop .project-classic-tag {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  .desktop .project-classic:hover {
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.15);
  }
  .desktop .project-classic:hover .project-classic-caption {
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
  }
  .desktop .project-classic:hover .project-classic-tag {
    opacity: 1;
    transform: none;
  }
  .desktop * + .project-classic-tag {
    margin-top: 8px;
  }
}

.contacts-classic {
  color: #ffffff;
}

.contacts-classic a {
  display: inline-block;
}

.contacts-classic a,
.contacts-classic a:focus,
.contacts-classic a:active {
  color: inherit;
}

.contacts-classic a:hover {
  color: var(--primary-color);
}

.contacts-classic .list-social a {
  color: #888888;
}

.contacts-classic > li + li {
  margin-top: 20px;
}

.contacts-classic * + .list-social {
  margin-top: 10px;
}

@media (min-width: 1200px) {
  .contacts-classic > li + li {
    margin-top: 30px;
  }
  .contacts-classic * + .list-social {
    margin-top: 20px;
  }
}

.contacts-classic-title {
  font-size: 10px;
  line-height: 2;
  font-weight: 400;
  font-family: 'Questrial', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.4em;
}

* + .contacts-classic {
  margin-top: 40px;
}

@media (min-width: 992px) {
  * + .contacts-classic {
    margin-top: 50px;
  }
}

@media (min-width: 1200px) {
  * + .contacts-classic {
    margin-top: 65px;
  }
  .contacts-classic-title + a {
    margin-top: 6px;
  }
}

.box-icon-modern {
  text-align: center;
}

.box-icon-modern-icon {
  position: relative;
  vertical-align: middle;
  font-size: 40px;
  line-height: 1;
  color: var(--primary-color);
  z-index: 1;
}

* + .box-icon-modern-title {
  margin-top: 20px;
}

* + .box-icon-modern-text {
  margin-top: 10px;
}

@media (min-width: 992px) {
  .box-icon-modern-icon {
    font-size: 46px;
  }
  * + .box-icon-modern-title {
    margin-top: 30px;
  }
  * + .box-icon-modern-text {
    margin-top: 18px;
  }
}

@media (min-width: 1200px) {
  .box-icon-modern {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.contacts-modern {
  text-align: center;
  padding: 40px 12px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  transition: all 0.3s ease;
}

.contacts-modern-body {
  max-width: 250px;
}

.contacts-modern-icon {
  font-size: 40px;
  line-height: 1;
  color: #111111;
}

* + .contacts-modern-list {
  margin-top: 20px;
}

@media (min-width: 768px) {
  * + .contacts-modern-list {
    margin-top: 30px;
  }
}

@media (min-width: 992px) {
  .contacts-modern {
    padding: 50px 30px;
  }
  .contacts-modern-icon {
    font-size: 50px;
  }
  * + .contacts-modern-list {
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  .contacts-modern {
    padding: 60px 40px;
  }
  .contacts-modern-icon {
    font-size: 60px;
  }
}

@media (min-width: 992px) {
  .desktop .contacts-modern-link a:hover {
    color: rgba(17, 17, 17, 0.5);
  }
  .desktop .contacts-modern:hover {
    border-color: transparent;
    background: var(--primary-color);
    box-shadow: 0 6px 24px 0 rgba(0, 0, 0, 0.15);
  }
}

/*
* Lists
*/

/*
* List inline
*/
.list-inline > li {
  display: inline-block;
}

html .list-inline-sm {
  transform: translate3d(0, -8px, 0);
  margin-bottom: -8px;
  margin-left: -5px;
  margin-right: -5px;
}

html .list-inline-sm > * {
  margin-top: 8px;
  padding-left: 5px;
  padding-right: 5px;
}

/*
* Ordered List
*/
.services-list li {
  margin: 10px 0;
}

.services-list li b {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.list-number {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 1.75rem;
}

/*
* Images
*/
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

/*
* Icons
*/
.icon {
  display: inline-block;
  font-size: 16px;
  line-height: 1;
}

.icon::before {
  position: relative;
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  text-transform: none;
}

/*
* Buttons
*/
.button {
  position: relative;
  overflow: hidden;
  display: inline-block;
  padding: 0 0;
  font-size: 14px;
  line-height: 1.93;
  border: none;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.075em;
  text-transform: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  cursor: pointer;
  vertical-align: middle;
  user-select: none;
  transition: all 0.25s ease-in-out;
  z-index: 1;
}

.button::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-top: 1px solid #f1f1f1;
  transition: all 0.25s ease;
  transform: translateY(100%) translateY(-1px);
  z-index: -1;
}

.button:hover::before,
.button:active::before,
.button.active::before {
  transform: none;
  border-color: transparent;
}

.button-default,
.button-default:focus {
  color: var(--secondary-color);
  border-color: transparent;
  background-color: transparent;
  padding: 10px;
}

.button-default::before,
.button-default:focus::before {
  background-color: var(--primary-color);
}

.button-default:hover,
.button-default:active,
.button-default.active {
  color: #ffffff;
  border-color: transparent;
}

/*
* Form styles
*/
.rd-form {
  position: relative;
  text-align: left;
}

* + .rd-form {
  margin-top: 30px;
}

@media (min-width: 768px) {
  * + .rd-form {
    margin-top: 40px;
  }
}

input:-webkit-autofill ~ label,
input:-webkit-autofill ~ .form-validation {
  color: #000000 !important;
}

.form-wrap {
  position: relative;
}

.form-wrap.has-error .form-input {
  border-color: #f5543f;
}

.form-wrap.has-focus .form-input {
  border-color: var(--primary-color);
}

* + .form-wrap {
  margin-top: 20px;
}

* + .form-button {
  margin-top: 30px;
}

@media (min-width: 768px) {
  * + .form-button {
    margin-top: 40px;
  }
}

@media (min-width: 1200px) {
  * + .form-wrap {
    margin-top: 32px;
  }
  * + .form-button {
    margin-top: 46px;
  }
}

.form-input {
  display: block;
  width: 100%;
  min-height: 33px;
  padding: 4px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-family: 'Questrial', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #f1f1f1;
  background-color: transparent;
  background-image: none;
  border-radius: 0;
  -webkit-appearance: none;
  appearance: none;
  transition: 0.3s ease-in-out;
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #f1f1f1;
}

.form-input:focus {
  outline: 0;
}

textarea.form-input {
  height: 72px;
  min-height: 33px;
  max-height: 122px;
  resize: vertical;
}

.form-label {
  margin-bottom: 0;
  color: #ffffff;
  position: absolute;
  text-align: left;
  top: 16.5px;
  left: 0;
  right: 0;
  padding-left: 0;
  padding-right: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2em;
  font-family: 'Questrial', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  text-transform: uppercase;
  pointer-events: none;
  z-index: 9;
  transition: 0.25s;
  will-change: transform;
  transform: translateY(-50%);
}

.form-label.focus {
  opacity: 0;
}

.form-label.auto-fill {
  color: #111111;
}

[data-x-mode='true'] .form-label {
  pointer-events: auto;
}

#form-output-global {
  position: fixed;
  bottom: 30px;
  left: 15px;
  z-index: 2000;
  visibility: hidden;
  transform: translate3d(-500px, 0, 0);
  transition: 0.3s all ease;
}

#form-output-global.active {
  visibility: visible;
  transform: translate3d(0, 0, 0);
}

@media (min-width: 576px) {
  #form-output-global {
    left: 30px;
  }
}

/*
* Snackbars
*/
.snackbars {
  padding: 9px 16px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  text-align: left;
  background-color: #151515;
  border-radius: 0;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
  font-size: 14px;
}

.snackbars .icon-xxs {
  font-size: 18px;
}

.snackbars p span:last-child {
  padding-left: 14px;
}

.snackbars-left {
  display: inline-block;
  margin-bottom: 0;
}

.snackbars-right {
  display: inline-block;
  text-transform: uppercase;
}

.snackbars-right:hover {
  text-decoration: underline;
}

@media (min-width: 576px) {
  .snackbars {
    max-width: 540px;
    padding: 12px 15px;
    font-size: 15px;
  }
}

/*
* Footers
*/
.footer-classic .rd-form {
  max-width: 570px;
  margin-left: auto;
  margin-right: auto;
}

.footer-classic * + .rights {
  margin-top: 30px;
}

.footer-classic * + .rd-form {
  margin-top: 40px;
}

@media (min-width: 992px) {
  .footer-classic * + .rights {
    margin-top: 45px;
  }
  .footer-classic * + .rd-form {
    margin-top: 56px;
  }
}

* + .footer-classic-list-social,
.container + .container {
  margin-top: 60px;
}

@media (min-width: 992px) {
  * + .footer-classic-list-social,
  .container + .container {
    margin-top: 85px;
  }
}

/*
*
* Animate.css
*/
.animated {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  opacity: 1;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

html:not(.lt-ie10) .not-animated {
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20%, 0, 0);
    transform: translate3d(-20%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(20%, 0, 0);
    transform: translate3d(20%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideOutDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes slideOutDown {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  100% {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}

@-webkit-keyframes blurIn {
  0% {
    opacity: 0;
    filter: blur(7px);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes blurIn {
  0% {
    opacity: 0;
    filter: blur(7px);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  100% {
    opacity: 1;
    filter: blur(0);
    transform: scale3d(1, 1, 1);
  }
}

.blurIn {
  -webkit-animation-name: blurIn;
  animation-name: blurIn;
  animation-duration: 1.1s;
}

/*
*
* Preloader
*/
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: #ffffff;
  transition: 0.3s all ease;
}

.preloader.loaded {
  opacity: 0;
  visibility: hidden;
}

.preloader-body {
  text-align: center;
}

.preloader-body p {
  position: relative;
  right: -8px;
}

* + .preloader-title {
  margin-top: 20px;
}

.cssload-spinner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  margin: auto;
  width: 100px;
  height: 100px;
}

.cssload-cube {
  background-color: var(--primary-color);
  width: 15px;
  height: 15px;
  margin-left: 10px;
  margin-bottom: 10px;
  animation: cssload-cubemove 4.6s infinite ease-in-out;
}

.cssload-cube1 {
  animation-delay: 0.23s;
}

.cssload-cube2 {
  animation-delay: 0.46s;
}

.cssload-cube3 {
  animation-delay: 0.69s;
}

.cssload-cube4 {
  animation-delay: 0.23s;
}

.cssload-cube5 {
  animation-delay: 0.46s;
}

.cssload-cube6 {
  animation-delay: 0.69s;
}

.cssload-cube7 {
  animation-delay: 0.92s;
}

.cssload-cube8 {
  animation-delay: 0.46s;
}

.cssload-cube9 {
  animation-delay: 0.69s;
}

.cssload-cube10 {
  animation-delay: 0.92s;
}

.cssload-cube11 {
  animation-delay: 1.15s;
}

.cssload-cube12 {
  animation-delay: 0.69s;
}

.cssload-cube13 {
  animation-delay: 0.92s;
}

.cssload-cube14 {
  animation-delay: 1.15s;
}

.cssload-cube15 {
  animation-delay: 1.38s;
}

@keyframes cssload-cubemove {
  35% {
    transform: scale(0.005);
  }
  50% {
    transform: scale(1.7);
  }
  65% {
    transform: scale(0.005);
  }
}

/*
*
* ToTop
*/
.ui-to-top {
  position: fixed;
  text-align: center;
  overflow: hidden;
  right: 15px;
  bottom: 15px;
  z-index: 100;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  opacity: 0.5;
  border-radius: 50%;
  transform: translate3d(0, 100px, 0);
  transition: all 0.45s ease-in-out;
}

.ui-to-top,
.ui-to-top:focus {
  color: #ffffff;
  background: var(--primary-color);
}

.ui-to-top:hover {
  opacity: 1;
  color: #f1f1f1;
  text-decoration: none;
}

.ui-to-top.active {
  transform: translate3d(0, 0, 0);
}

html.mobile .ui-to-top,
html.tablet .ui-to-top {
  display: none !important;
}

@media (min-width: 576px) {
  .ui-to-top {
    right: 40px;
    bottom: 40px;
  }
}

/*
*
* RD Navbar
*/
@keyframes rd-navbar-slide-down {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes rd-navbar-slide-up {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.rd-navbar-wrap,
.rd-navbar,
.rd-navbar-nav,
.rd-navbar-panel {
  transition: 0.35s all cubic-bezier(0.65, 0.05, 0.36, 1);
}

.rd-navbar--no-transition,
.rd-navbar--no-transition * {
  transition: none !important;
}

.rd-navbar {
  display: none;
}

.rd-navbar {
  display: none;
  background: #ffffff;
}

.rd-navbar-toggle {
  display: inline-block;
  position: relative;
  width: 48px;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  color: #111111;
  background-color: transparent;
  border: none;
  display: none;
  padding: 0;
  margin-top: -20px;
}

.rd-navbar-toggle span {
  position: relative;
  display: block;
  margin: auto;
  transition: 0.3s all ease;
}

.rd-navbar-toggle span:after,
.rd-navbar-toggle span:before {
  content: '';
  position: absolute;
  left: 0;
  top: -6px;
  transition: 0.3s all ease;
}

.rd-navbar-toggle span:after {
  top: 6px;
}

.rd-navbar-toggle span:after,
.rd-navbar-toggle span:before,
.rd-navbar-toggle span {
  width: 30px;
  height: 1px;
  background-color: #ffffff;
  backface-visibility: hidden;
  border-radius: 0;
}

.rd-navbar-toggle span:before,
.rd-navbar-toggle span:after {
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-delay: 0.3s, 0s;
  transition-delay: 0.3s, 0s;
  -webkit-transition-property: top, -webkit-transform;
  transition-property: top, transform;
}

.rd-navbar-toggle.active span {
  transition: background 0.3s 0s ease;
  background: transparent;
}

.rd-navbar-toggle.active span:before,
.rd-navbar-toggle.active span:after {
  top: 0;
  -webkit-transition-delay: 0s, 0.3s;
  transition-delay: 0s, 0.3s;
}

.rd-navbar-toggle.active span:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.rd-navbar-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.rd-navbar-brand a {
  display: block;
}

@media (max-width: 480px) {
  .rd-navbar-toggle {
    margin-top: -10px;
  }
}

/*
*
* RD Navbar Sidebar
*/
.rd-navbar-sidebar {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  background: transparent;
  z-index: 1080;
}

.rd-navbar-sidebar .rd-navbar-main-outer {
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.rd-navbar-sidebar .rd-navbar-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1316px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.rd-navbar-sidebar .rd-navbar-toggle {
  display: block;
  position: fixed;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  background: var(--primary-color);
  border-radius: 50%;
  z-index: 1102;
}

@media (min-width: 576px) {
  .rd-navbar-sidebar .rd-navbar-toggle {
    top: 20px;
    right: 20px;
  }
}

@media (min-width: 992px) {
  .rd-navbar-sidebar .rd-navbar-toggle {
    top: 40px;
    right: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
  }
}

@media (min-width: 1360px) {
  .rd-navbar-sidebar .rd-navbar-toggle {
    right: 62px;
  }
}

.rd-navbar-sidebar .rd-navbar-brand img {
  max-width: 180px;
  max-height: 100px;
}

.rd-navbar-sidebar .rd-navbar-nav-wrap {
  position: fixed;
  text-align: left;
  top: 0;
  bottom: 0;
  right: 0;
  width: 270px;
  padding: 70px 20px 20px 30px;
  background: #231f20;
  transform: translateX(100%);
  box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.07);
  transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1101;
}

.rd-navbar-sidebar .rd-navbar-nav-wrap.active {
  transition-delay: 0.1s;
  transform: translateX(0);
}

@media (min-width: 576px) {
  .rd-navbar-sidebar .rd-navbar-nav-wrap {
    width: 350px;
    padding: 80px 30px 30px 50px;
  }
}

@media (min-width: 992px) {
  .rd-navbar-sidebar .rd-navbar-nav-wrap {
    width: 400px;
    padding: 112px 40px 50px 65px;
  }
}

@media (min-width: 1200px) {
  .rd-navbar-sidebar .rd-navbar-nav-wrap {
    width: 455px;
    padding-left: 85px;
  }
}

.rd-navbar-sidebar .rd-navbar-nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-left: 30px;
  padding-bottom: 8px;
  margin-left: -30px;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.rd-navbar-sidebar .rd-navbar-nav-container > * {
  width: 100%;
}

.rd-navbar-sidebar .rd-nav-item {
  position: relative;
  display: block;
}

.rd-navbar-sidebar .rd-nav-item.active .rd-nav-link {
  color: #ffffff;
}

.rd-navbar-sidebar .rd-nav-item.active .rd-nav-link::before {
  transform: none;
  background: var(--primary-color);
}

.rd-navbar-sidebar .rd-nav-item + .rd-nav-item {
  margin-top: 10px;
}

@media (min-width: 768px) {
  .rd-navbar-sidebar .rd-nav-item + .rd-nav-item {
    margin-top: 20px;
  }
}

@media (min-width: 1200px) {
  .rd-navbar-sidebar .rd-nav-item + .rd-nav-item {
    margin-top: 30px;
  }
}

.rd-navbar-sidebar .rd-nav-link {
  position: relative;
  display: inline-block;
  word-break: break-all;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
  font-family: 'Questrial', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #ffffff;
  transition: all 0.25s ease;
  z-index: 1;
}

.rd-navbar-sidebar .rd-nav-link::before {
  position: absolute;
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  transform: scale(1.2);
  transition: inherit;
  z-index: -1;
}

.rd-navbar-sidebar .rd-nav-link:hover {
  color: #ffffff;
}

.rd-navbar-sidebar .rd-nav-link:hover::before {
  transform: none;
  background: var(--primary-color);
}

@media (min-width: 768px) {
  .rd-navbar-sidebar .rd-nav-link {
    font-size: 20px;
  }
}

@media (min-width: 1200px) {
  .rd-navbar-sidebar .rd-nav-link {
    font-size: 24px;
  }
}

.rd-navbar-sidebar
  .rd-navbar-submenu
  .opened
  > .rd-navbar-submenu-toggle::after {
  transform: rotate(180deg);
}

.rd-navbar-sidebar .rd-nav-item > .rd-navbar-submenu-toggle,
.rd-navbar-sidebar
  .rd-nav-item
  .rd-navbar--has-dropdown
  > .rd-navbar-submenu-toggle {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: inherit;
  padding-right: inherit;
  padding-left: 10px;
  margin-bottom: inherit;
  display: inline-block;
  width: 30px;
  margin-left: 5px;
  text-align: center;
  cursor: pointer;
  color: #ffffff;
}

.rd-navbar-sidebar .rd-nav-item > .rd-navbar-submenu-toggle:hover,
.rd-navbar-sidebar
  .rd-nav-item
  .rd-navbar--has-dropdown
  > .rd-navbar-submenu-toggle:hover {
  color: var(--primary-color);
}

.rd-navbar-sidebar .rd-nav-item > .rd-navbar-submenu-toggle::after,
.rd-navbar-sidebar
  .rd-nav-item
  .rd-navbar--has-dropdown
  > .rd-navbar-submenu-toggle::after {
  content: '\f107';
  position: relative;
  display: inline-block;
  font-family: 'FontAwesome';
  font-size: inherit;
  line-height: inherit;
  text-align: center;
  vertical-align: middle;
  transition: 0.4s all ease;
  z-index: 2;
  will-change: transform;
}

.rd-navbar-sidebar
  .rd-nav-item
  .rd-navbar--has-dropdown
  > .rd-navbar-submenu-toggle {
  font-size: 14px;
  color: #cccccc;
  margin-left: 7px;
}

.nav-custom {
  display: none;
  position: fixed;
  text-align: left;
  top: 50%;
  left: 30px;
  padding: 5px 0;
  background: transparent;
  transform: translate3d(0, -50%, 0);
  counter-reset: li;
  z-index: 1000;
}

.nav-custom .nav-custom-counter {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
  font-size: 14px;
  line-height: 2.14286;
  font-weight: 400;
  letter-spacing: 0.075em;
  font-family: 'Questrial', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: var(--primary-color);
}

.nav-custom .nav-custom-counter:before {
  content: counter(li, decimal-leading-zero);
  counter-increment: li;
}

.nav-custom .nav-custom-counter:hover {
  color: #888888;
}

.nav-custom li::before {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 0;
  font-size: 0;
  line-height: 0;
  margin-right: 0;
  border-top: 1px solid #888888;
  transition: all 0.25s ease;
}

.nav-custom li.active::before {
  width: 25px;
  margin-right: 12px;
}

.nav-custom li.active .nav-custom-counter {
  color: #888888;
  transform: scale(1.2);
}

.nav-custom li + li {
  margin-top: 17px;
}

@media (min-width: 1360px) {
  .nav-custom {
    display: block;
  }
}

@media (min-width: 1500px) {
  .nav-custom li.active::before {
    width: 40px;
    margin-right: 18px;
  }
}

.google-map-markers {
  display: none;
}

.google-map-container {
  width: 100%;
}

.google-map {
  height: 250px;
  width: 100%;
  height: 250px;
  height: 570px;
}

.image-carousel {
  position: relative;
  width: 618px;
  height: 614px;
}

.carousel-image {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-image.active {
  display: block;
}

.image-carousel-controls {
  position: absolute;
  top: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateX(50%);
  pointer-events: none;
}

.carousel-nav {
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: 36px;
  cursor: pointer;
  pointer-events: auto;
  padding: 0 20px;
  transition: color 0.25s ease-in-out;
}

.carousel-nav:hover {
  color: var(--primary-color);
}

@media (max-width: 480px) {
  .image-carousel {
    padding: 20px;
    width: 100%;
  }
  .image-carousel-controls {
    top: 78%;
    transform: translateX(35%);
  }
}

/* How It Works */

.bg-how {
  background-color: var(--primary-color);
  padding: 100px 0 50px 0;
}

.how .wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 200px 100px;
}

.how .carousel {
  position: relative;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.carousel__item {
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 0 12px;
  opacity: 0;
  filter: drop-shadow(0 2px 2px #555);
  will-change: transform, opacity;
  animation: carousel-animate-vertical 27s linear infinite;
}

.carousel__item:nth-child(1) {
  animation-delay: calc(27s / 9 * -2);
}
.carousel__item:nth-child(2) {
  animation-delay: calc(27s / 9 * -1);
}
.carousel__item:nth-child(3) {
  animation-delay: calc(27s / 9 * 0);
}
.carousel__item:nth-child(4) {
  animation-delay: calc(27s / 9 * 1);
}
.carousel__item:nth-child(5) {
  animation-delay: calc(27s / 9 * 2);
}
.carousel__item:nth-child(6) {
  animation-delay: calc(27s / 9 * 3);
}
.carousel__item:nth-child(7) {
  animation-delay: calc(27s / 9 * 4);
}
.carousel__item:nth-child(8) {
  animation-delay: calc(27s / 9 * 5);
}

.carousel__item-head {
  border-radius: 50%;
  background-color: #d7f7fc;
  width: 90px;
  height: 90px;
  padding: 14px;
  position: relative;
  margin-right: -45px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.carousel__item-body {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 20px 16px 70px;
}

.how .title {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 10px;
}

@keyframes carousel-animate-vertical {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }

  3%,
  11.111% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }

  14.111%,
  22.222% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }

  25.222%,
  33.333% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }

  36.333% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }

  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}

@media (max-width: 480px) {
  .how .wrapper {
    padding: 200px 0 100px 0;
  }
  .hide {
    display: none;
  }
}

/* Testimonial */
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 20px;
  max-width: 350px;
  min-width: 300px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid var(--primary-color);
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 13% 10% 12%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: var(--primary-color);
  content: '\f10e';
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}
